body
{
 	
  margin: auto;    
	padding: 10px;
	margin-top: 10px;
 	background-color:: #eeeeee; 
 	font-family: Lucida, Verdana, Arial, Helvetica, sans-serif;
 	font-size : 14px; 
}

#image-fixed
{
width:60px;
position:fixed;
margin-left: 10px;
top:10px;
left: 20px;
z-index:0;
}

ul#pagination li 
{
	list-style: none;
  margin-left: -25px;
	
}

#contenu
{				
background-color: #cce821;
box-shadow: 0 0 4px rgba(0,0,0,0.2);
box-shadow: 0 0 4px rgba(0,0,0,0.4);  
transition: all .7s;  
position:relative;
 
  margin-top: 5px;
  width:360px;
  top:60px;
  bottom:5px;
  float: left;
  
}

p
{

color: red;
font-size : 20px;

}

#logo
{
  width: 100px;
}