body {
  max-width: 960px;
  width: 100%;
  padding: 5%;
}
header {
  margin-top: 1%;
}
header img {
  max-width: 150px;
  width: 100%;
  margin-bottom: 5%;
}

p.blanc {
  color: white;
}

div p {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}

div p.important {
  color: white;
  font-size: 1em;
}

div a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.6em;
  text-align: center;
  padding: 10px;
}
div a:hover {
  text-decoration: none;
}

.Gdclip-bas {
	position: relative;
	background: #00A3E0;
  display: inline-block;
  width: 300px;
  height: 300px;
}

.Gdclip-bas:after {
  z-index: 100;
	top: 100%;
	left: 42%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 163, 224, 0);
	border-top-color: #00A3E0;
	border-width: 20px;
	margin-bottom: -20px;
}


.Moyenclip-droite {
	position: relative;
	background: #005EB8;
    width: 150px;
    height: 150px;
    
}

.Moyenclip-droite:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 94, 184, 0);
	border-left-color: #005EB8;
	border-width: 20px;
	margin-top: -20px;
}

.Moyenclip-bas {
	position: relative;
	background: #48A23F;
  width: 150px;
  height: 150px;
}
.Moyenclip-bas:after {
  top: 100%;
  left: 39%;
  border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(72, 162, 63, 0);
	border-top-color: #48A23F;
	border-width: 20px;
	margin-bottom: -20px;
}

.Petitclip-droite {
	position: relative;
	background: #00A3E0;
    width: 100px;
    height: 100px;
}
.Petitclip-droite:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 163, 224, 0);
	border-left-color: #48A23F;
	border-width: 10px;
	margin-top: -10px;
}
#vert-principal:after {
    border-left-color: #CCE821;
}

#bleu-secondaire:after {
    border-left-color: #00A3E0;
}


.droite {
  display: inline-block;
  position: relative;
  margin-left: 20%;
}

.centre {
  position: absolute;
  top:25%;
  margin-left: 300px;
}

aside header {
  font-size: 1em;
  font-weight: bold;    
  text-align: center;
  padding-top: 20px;
  margin-right: 10%;
  
}

article section {
  height: 100px;
}
article div {
  display: inline-block;
  width: 200px; 
  top: 18px;
}
article div.info {
  margin-left: 5%;
}


/*==========*\
  COULEURS
\*==========*/
.bleu-principal {
  background: #005EB8;
}

.bleu-secondaire {
  background: #00A3E0;
}

.vert-principal {
  background: #CCE821;
}

.vert-secondaire {
  background: #48A23F;
}